parameters:
  bootstrapFiles:
    - src/Base/autoload.php
    - src/Laravel/autoload.php
    - src/LaravelData/autoload.php
  
  customRulesetUsed: true
  errorFormat: tsprinter
  
services:
  errorFormatter.tsprinter:
    class: djfhe\PHPStanTypescriptTransformer\TsPrinter\TsPrinter
  - 
    class: djfhe\PHPStanTypescriptTransformer\Laravel\Rules\ControllerInertiaReturnRule
    tags:
      - phpstan.rules.rule
  -
    class: djfhe\PHPStanTypescriptTransformer\Laravel\DynamicReturnTypeExtensions\InertiaReturnPropTypeExtension
    tags:
      - phpstan.broker.dynamicStaticMethodReturnTypeExtension
  -
    class: djfhe\PHPStanTypescriptTransformer\Laravel\DynamicReturnTypeExtensions\InertiaRenderReturnTypeExtension
    tags:
      - phpstan.broker.dynamicStaticMethodReturnTypeExtension
  -
    class: djfhe\PHPStanTypescriptTransformer\Laravel\DynamicReturnTypeExtensions\InertiaHelperReturnTypeExtension
    tags:
      - phpstan.broker.dynamicFunctionReturnTypeExtension
