parameters:
  bootstrapFiles:
    - src/Base/autoload.php
    - src/Laravel/autoload.php
    - src/LaravelData/autoload.php
  
  customRulesetUsed: true
  errorFormat: tsprinter
  
services:
  errorFormatter.tsprinter:
    class: djfhe\StanScript\TsPrinter\TsPrinter
  - 
    class: djfhe\StanScript\Laravel\Rules\ControllerInertiaReturnRule
    tags:
      - phpstan.rules.rule
